<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/res/yaff/yaff.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text='${@applicationPropertyService.getProperty("yabi.personalization.title")}'></title>
</head>

<body>
	<main>
		<div th:replace="fragment/menubarFragment :: menubar"></div>
		<div class="yaff segment">
			<article th:replace="fragment/postFragment :: post(${post})"></article>
		</div>
	</main>
</body>

</html>