<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/res/yaff/yaff.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text='${@applicationPropertyService.getProperty("yabi.personalization.title")}'></title>
</head>

<body>
	<main>
		<header>
			<div th:replace="fragment/menubarFragment :: menubar">
			</div>
			<div class="yaff segment">
				<div class="yaff simple-article">
					<h2 th:text='${@applicationPropertyService.getProperty("yabi.personalization.title")}'></h2>
					<h5 th:text='${@applicationPropertyService.getProperty("yabi.personalization.motd")}'></h5>
				</div>
				<div class="yaff segment" th:each="post : ${posts}">
					<article th:replace="fragment/postFragment :: post(${post})"></article>
				</div>
			</div>
		</header>
		<div class="yaff segment">
		</div>
	</main>
</body>

</html>