<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/res/yaff/yaff.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text='${@applicationPropertyService.getProperty("yabi.personalization.title")}'></title>
</head>

<body>
    <main>
        <div class="yaff segment">
            <div class="yaff article" style="max-width: 350px;">
                <form th:action="@{/login}" method="post">
                    <label class="yaff label" for="username">Username</label><br>
                    <input class="yaff input" style="width: 100%;" type="text" name="username" placeholder="Username"/><br>
                    <label class="yaff label" for="password">Password</label><br>
                    <input class="yaff input" style="width: 100%;" type="password" name="password" placeholder="Password"/><br>
                    <input class="yaff button" type="submit" value="Log in"/>
                </form>
            </div>
        </div>
    </main>
</body>

</html>